__pycache__/
*.pyc
*.swp
testFigs/
testFigs/*
docs/build/*
apps/*
apps/
doc/UQit_apps_/*
docs/UQit_apps_/
apps/turbChannel/modules/__pycache__
apps/turbChannel/__pycache__
docs/examples/.ipynb_checkpoints/
UQit.egg-info
build/
dist/
myInfo.md
