__pycache__/
*.pyc
*.swp
testFigs/
testFigs/*
docsrc/build/
docsrc/source/examples/.ipynb_checkpoints/
docsrc/source/_build
apps/*
apps/
apps/turbChannel/modules/__pycache__
apps/turbChannel/__pycache__
UQit.egg-info
build/
dist/
myInfo.md
