__pycache__/
UQit/__pycache__
*.pyc
*.swp
testFigs/
testFigs/*
docs/
docsrc/build/
docsrc/source/_build
docsrc/source/examples/.ipynb_checkpoints/
apps/*
apps/
apps/turbChannel/modules/__pycache__
apps/turbChannel/__pycache__
UQit.egg-info
build/
dist/
myInfo.md
